<html>

<head>
    <title>Success Page</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            padding: 20px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
        }

        th,
        td {
            border: 1px solid black;
            padding: 5px;
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>
</head>

<body>
    {% for site_list in all_site_lists %}
    <h2>Crew {{ loop.index }}:</h2>
    <table id="table{{ loop.index }}">
        <tr>
            <th>Site Number</th>
            <th>Address</th>
            <th>Work Description</th>
            <th>Owner/Phone/Comments</th>
            <th>No Parks</th>
            <th>NBW</th>
            <th>Projected Hours</th>
            <th>Flagging</th>
            <th>Squirt Boom</th>
            <th>Merge</th>
            <th>Notes</th>
            <th>Also Clear For</th>
        </tr>
        {% for site in site_list %}
        <tr>
            {% for detail in site %}
            <td>{{ detail }}</td>
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
    </div>
    {% endfor %}

</body>

</html>